@tailwind base;
@tailwind components;
@tailwind utilities;


/* 主题变量 */
:root {
    --brand: theme('colors.green.600');
}

html[data-color="yellow"]{
    --brand: theme('colors.yellow.500')
}

html[data-color="green"]{
    --brand: theme('colors.green.500')
}
html[data-color="violet"]{
    --brand: theme('colors.violet.500')
}
html[data-color="fuchsia"]{
    --brand: theme('colors.fuchsia.500')
}

html[data-color="pink"]{
    --brand: theme('colors.pink.500')
}


/* 主题 */
@layer components{
    .theme-color{
        @apply rounded-full h-5 w-5 cursor-pointer
    }

    .theme-color.active{
        @apply ring-4 ring-gray-200 bg-slate-400 dark:ring-gray-50
    }
}



